# The private key used by the Approval Callback Service must be the private key that corresponds to the public key uploaded when creating the API Key.
APPROVAL_CALLBACK_SERVICE_PRIVATE_KEY_PEM_FILE=
# Use the export-public-key command of the API Co-Signer CLI to export the API Co-Signer's public key.
CO_SIGNER_PUB_KEY_PEM_FILE=